html {
     scroll-behavior: smooth;
}
body {
     margin: 0;
     color: white;
     background-color: rgb(22, 30, 49);
}
#container {
     width: 50%;
     margin: auto;
}
section {
     margin: 70px 0 70px 0;
}

/* -------------------------------------------- Navigation ------------------------------------------------------*/
#nav-bar {
     margin: 30px 0 50px 0 ;
     display: flex;
     justify-content: space-between;
}
ul {
     list-style-type: none;
     display: flex;
}
.navLink {
     text-decoration: none;
     font-weight: bold;
     color: white;
     padding: 15px;
}

/* -------------------------------------------- About section ------------------------------------------------------*/
#about-content {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
}

#about-me {
     width: 40%;
     text-align: justify;
}

#about-me button {
     width: 200px;
     height: 40px;
     font-size: large;
     border-radius: 20px;
     color: white;
     background-color: rgb(14, 165, 233);  
     border: solid rgb(14, 165, 233) 2px;
     font-weight: bold;
}

#cv-button {
     display: flex;
     justify-content: center;
     margin: 20px 0 0 0;
}

#profil {
     width: 300px;
     height: 300px;
     border-radius: 100%;
}

/* -------------------------------------------- skills section ------------------------------------------------------*/
#skills-section .icon {
     width: 50px;
     height: 50px;
}

#skills-section .skills {
     display: flex;
     justify-content: space-evenly;
}

#skills-section .singleSkill {
     width: 150px;
     height: 70px;
     border-radius: 15px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

#skills-section .singleSkill:hover {
     transform: scale(1.5);
    transition: 1.5s;
}

#skills-section .singleSkill p {
     font-weight: bold;
}

/* -------------------------------------------- projects section ------------------------------------------------------*/
#projects-section .card {
     width: 25%;
     background-color: rgb(30, 41, 59);
     padding: 20px;
     margin: 10px;
     border-radius: 15px;
}

#projects-section .card .card-content {
     text-align: justify;
}

#projects-section .card img {
     max-width: 100%;
     max-height: 50%;
}

#projects-section .cardGroup {
     display: flex;
     justify-content: space-evenly;
}

#projects-section .card .card-content>a {
     color: rgb(14, 165, 233);
     text-decoration: none;
}

#projects-section .card .card-content .techno {
     color: grey;
}

/* -------------------------------------------- contact section ------------------------------------------------------*/
#contact-section #contact-form{
     display: flex;
     justify-content: flex-end;
}

#contact-section #contact-form form {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     width: 60%;
     padding: 5px;
}

#contact-section #contact-form .fullBlock {
     width: 90%;
     padding: 5px;
}

#contact-section #contact-form .smallBlock {
     width: 40%;
     padding: 5px;
}

#contact-section #contact-form .inputT {
     display: block;
     height: 40px;
     border-radius: 10px;
     width: 100%;
}

#contact-section #send-mail {
     width: 200px;
     height: 40px;
     font-size: large;
     border-radius: 10px;
     color: white;
     background-color: rgb(14, 165, 233);  
     border: solid rgb(14, 165, 233) 2px;
     font-weight: bold;
}

/* -------------------------------------------- footer section ------------------------------------------------------*/
#footer-section {
     margin: 20px 20px 0px 20px;
     display: flex;
     justify-content: center;
     background-color: rgb(10, 15, 27);
     border-radius: 10px;
}

#footer-section .fa {
     margin: 20px;
     padding: 10px 7px 7px 7px;
     font-size: 50px;
     width: 60px;
     height: 60px;
     text-align: center;
     text-decoration: none;
     border-radius: 100%;
}

#footer-section .fa-facebook {
     background-color: rgb(9, 77, 179);
     color: white;
}

#footer-section .fa-linkedin {
     background-color: rgb(19, 113, 150);
     color:  rgb(255, 255, 255);
}

#footer-section .fa-whatsapp {
     background-color: rgb(6, 189, 88);
     color:rgb(255, 255, 255);
}

#footer-section .fa-github {
     background-color:rgb(0, 0, 0);
     color: rgb(255, 255, 255);
}

/* -------------------------------------------- back to top ------------------------------------------------------*/

#back-to-top {
     font-size: 70px;
     color: white;
     position: fixed;
     bottom: 10px;
     right: 100px;
     border-radius: 100%;
     width: 80px;
     height: 80px;
     text-align: center;
     box-shadow: 0 0 10px 3px rgb(10, 15, 27);
}