/* -------------------------------------------- global ------------------------------------------------------*/
*{
     box-sizing: border-box;
}
html {
     scroll-behavior: smooth;
}
body {
     margin: 0;
     /*color: white;*/
     background-color: #F6F7F9;
     font-size: larger;
}
.container {
     width: 80%;
     margin: auto;
}
/*section {
     margin: 70px 0 70px 0;
}*/

section h1 {
     margin: 0;
     font-size: 50px;
     color: rgb(61, 68, 71);
}

.bg-blue {
     background-color: rgb(14, 165, 233);
     color: white;
}

.text-blue {
     color: rgb(14, 165, 233);
}

.d-flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.bg-white {
     background-color: white;
}

     /* for mobile phones*/
     @media (max-width: 768px) {
          .container {
               width: auto;
               margin: 0 10px;
          }

          html, body {
               overflow-x: hidden;
          }

          body {
               position: relative;
          }

          section h1 {
               font-size: 30px;
               color: rgb(61, 68, 71);
          }

     }

/* -------------------------------------------- Navigation ------------------------------------------------------*/
#nav-bar {
     /*display: flex;
     justify-content: center;
     align-items: center;
     height: 100px;*/
     height: 100px;
     background-color: white;
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#nav-bar .navbarContainer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: inherit;
}

#nav-bar .navbarContainer a {
     font-size: 25px;
}

#navbar .navigationList {
     display: flex;
     justify-content: center;
     align-items: center;
}

#nav-bar ul {
     list-style-type: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#nav-bar ul li, #brand a{
     font-weight: bold;
     text-decoration: none;
}

.navLink {
     text-decoration: none;
     font-weight: bold;
     color: black;
     padding: 15px;
}

.navLink:hover {
     border-bottom: solid 1px rgb(14, 165, 233);
     color: rgb(14, 165, 233);
}

.navLink:active {
     border-bottom: solid 1px rgb(14, 165, 233);
     color: rgb(14, 165, 233);
}

#nav-bar .iconBar {
     display: none;
}

#nav-bar .iconBar .fa {
     color: black;
}


     /* for mobile phones*/
     @media (max-width: 768px) {
          #nav-bar {
               height: 60px;
          }

          #nav-bar .navbarContainer {
               height: inherit;
          }

          #nav-bar .myNav {
               display: none;
          }
     
          #nav-bar .iconBar {
               display: block;
               position: absolute;
               right: 60px;
               top: 55px;
          }

          #nav-bar ul li, #brand {
               font-size: 20px;
          }
     
     }
     
     @media (max-width: 768px) {
          #nav-bar .myNav.active {
               display: block;
               position: relative;
               top: 60px;
               height: 200px;
               width: 100%;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               justify-content: space-around;
               align-items: flex-start;
          }
     
          #nav-bar .myNav.active .navItem:active {
               background-color: rgb(9, 12, 19);
          }
     
     }

/* -------------------------------------------- banner ------------------------------------------------------*/
.banner-section {
     padding-top: 100px;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     background-color: black;
     color: white;
}

.banner-section .content-wrapper {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}


/* -------------------------------------------- About section ------------------------------------------------------*/
#about-section {
     margin-top: 10px;
     margin-bottom: 100px;
}

#about-content {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap-reverse;
}

#about-me {
     width: 50%;
     text-align: justify;
     font-size: 25px;
}

#about-me h2 {
     margin-bottom: 100px ;
}

#about-me p {
     font-size: 30px;
}

#about-me .about {
     font-weight: bold;
}

#about-me button {
     width: 300px;
     height: 60px;
     font-size: 23px;
     border-radius: 20px;
     color: white;
     background-color: rgb(14, 165, 233);  
     border: solid rgb(14, 165, 233) 2px;
     font-weight: bold;
}

#cv-button {
     display: flex;
     justify-content: center;
     margin: 80px 0px 0px 0px;
}

#profil {
     width: 100%;
     height: auto;
     border-radius: 100%;
     margin: 120px 100px 0px 0px;
}

     /* for mobile phones*/
     @media (max-width: 768px) {
          #about-section {
               padding: 0 20px;
          }

          #about-me h2 {
               font-size: 50px;
               color: rgb(14, 165, 233);
               margin-bottom: 100px ;
          }
          #profil {
               width: 70%;
               height: auto;
               border-radius: 100%;
               margin: 70px 150px 0px 0px;
          }
          #about-me p {
               font-size: 25px;
          }
          #about-me {
               width: 100%;
               text-align: justify;
          }
          #about-me button {
               width: 200px;
               font-size: large;
          }
     }

/* -------------------------------------------- expériences section ------------------------------------------------------*/
#experiences-section .card-wrapper {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

#experiences-section .card-wrapper .card {
     width: 45%;
     margin: 10px 0;
}

#experiences-section .volunteering .card img {
     width: 100%;
     object-fit: contain;
}

     /* for mobile phones*/
     @media (max-width: 768px) {
          #experiences-section .card-wrapper .card {
               width: 100%;
          }
     }

/* -------------------------------------------- skills section ------------------------------------------------------*/

#skills-section .skills {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     margin: 30px;
}

#skills-section .singleSkill {
     width: 150px;
     height: 150px;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     /*justify-content: space-evenly;
     flex-direction: column;*/
     align-items: center;
     margin: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#skills-section .singleSkill .skill-w {
     max-width: 80%;
     width: 100%;
     text-align: center;
}

#skills-section .skill-w .icon {
     margin-top: 10px;
     max-width: 80px;
     width: 100%;
     
}

#skills-section .singleSkill:hover {
     transform: scale(1.5);
     transition: 0.5s;
}

#skills-section .singleSkill p {
     font-weight: bold;
}

      /* for mobile phones*/
     @media (max-width: 768px) {
          #skills-section .skills {
               margin: 0;
          }

          #skills-section .singleSkill {
               width: 80px;
               height: 80px;
          }

          #skills-section .skill-w .icon {
               width: 70%;
               
          }

          #skills-section .singleSkill .skill-w p{
               font-size: 13px;
               margin: 0;
          }
     }

/* -------------------------------------------- diploma and certification ------------------------------------------------------*/
#diploma-certification {
     padding: 30px 0 50px 0;
}

.certificate {
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     margin: 30px 0 30px 0;
     height: 100px;
     border-radius: 20px;
     text-align: center;
     color: black;
     font-weight: bolder;
     font-size: larger;
}

#diploma-certification .icon {
     width: 50px;
     height: 50px;
     margin-right: 20px;
}

#diploma-certification a {
     width: 100%;
     height: auto;
     margin-bottom: 10px;
     text-decoration: none;
}

/* -------------------------------------------- projects section ------------------------------------------------------*/
#projects-section .card {
     width: 30%;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     background-color: white;
     padding: 20px;
     margin: 10px;
     border-radius: 15px;
}

#projects-section h3 {
     text-align: center;
     margin: 20px 0px 50px 0px;
}


#projects-section .card .card-content {
     text-align: justify;
     display: none;
}

#projects-section .card:hover .card-content {
     display: block;
     transition: 4.5s;
}

#projects-section .card img {
     max-width: 100%;
     
}

#projects-section .cardGroup {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

#projects-section .card .card-content>a {
     color: rgb(14, 165, 233);
     text-decoration: none;
}

#projects-section .card .card-title .techno {
     color: grey;
}

.modal {
     display: none; 
     position: fixed; 
     z-index: 1; 
     left: 0;
     top: 0;
     width: 100%; 
     height: 100%; 
     overflow: auto; 
     background-color: rgb(0,0,0); 
     background-color: rgba(0,0,0,0.4); 
}

.modal-content {
     background-color: rgba(0,0,0,0.4);
     margin: 15% auto; /* 15% from the top and centered */
     padding: 20px;
     border: 1px solid #888;
     border-radius: 20px;
     width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content video {
     width: 100%;
}

.close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}


     /* for mobile phones*/
@media (max-width: 768px) {
     #projects-section .card {
          width: 100%;
          background-color: white;
          color: black;
          padding: 20px;
          margin: 10px;
          border-radius: 15px;
     }
     #projects-section .card .card-content {
          text-align: justify;
          display: block;
     }
     .modal-content {
          background-color: rgba(0,0,0,0.4);
          margin: 15% auto; 
          padding: 20px;
          border: 1px solid #888;
          border-radius: 20px;
          width: 100%; 
     }
     .modal-content video {
          height: 250px;
     }
}


/* -------------------------------------------- footer section ------------------------------------------------------*/
footer {
     background-color: white;
}

footer .container {
     display: flex;
     justify-content: space-between;
}

/*footer .container h3{
     text-align: center;
}*/


/*footer #social-link {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 50%;
}*/

     /* for mobile phones*/
@media (max-width: 768px) {

     footer #social-link {
          width: 100%;
     }

}

footer .fa {
     margin: 20px;
     padding: 7px 7px 7px 7px;
     font-size: 50px;
     width: 60px;
     height: 60px;
     text-align: center;
     text-decoration: none;
     color: rgb(14, 165, 233);
}


     /* for mobile phones*/
     @media (max-width: 768px) {

          footer .fa {
               margin: 20px;
               padding: 7px 7px 7px 7px;
               font-size: 40px;
               width: 40px;
               height: 40px;
               text-align: center;
               text-decoration: none;
               border-radius: 100%;
          }
     }



.copyright {
     padding: 30px 0;
     text-align: center;
     background-color: rgb(10, 15, 27);
     color: white;
}


/* -------------------------------------------- back to top ------------------------------------------------------*/

#back-to-top {
     font-size: 40px;
     color: white;
     background-color: rgb(14, 165, 233);
     position: fixed;
     bottom: 10px;
     right: 100px;
     border-radius: 100%;
     width: 50px;
     height: 50px;
}

     /* for mobile phones*/
@media (max-width: 768px) {
     #back-to-top {
          font-size: 40px;
          color: white;
          position: fixed;
          bottom: 5px;
          right: 50px;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          text-align: center;
          box-shadow: 0 0 10px 3px rgb(10, 15, 27);
     }
}